---
apiVersion: v1
data:
  password: {{ password | b64encode }}
  username: {{ username | b64encode }}
kind: Secret
metadata:
  creationTimestamp: null
  name: {{ cluster }}-{{ nodename }}-bmc-secret
  namespace: {{ cluster }}
---
apiVersion: metal3.io/v1alpha1
kind: BareMetalHost
metadata:
  annotations:
    bmac.agent-install.openshift.io/hostname: {{ nodename }}
    # bmac.agent-install.openshift.io/role: master
    # inspect.metal3.io: disabled
  labels:
    infraenvs.agent-install.openshift.io: {{ infraenv }}
  name: {{ nodename }}
  namespace: {{ cluster }}
spec:
  automatedCleaningMode: disabled
  bmc:
    address: {{ redfish_type | default('idrac') }}-virtualmedia://{{ baseuri }}/redfish/v1/Systems/System.Embedded.1
    credentialsName: {{ cluster }}-{{ nodename }}-bmc-secret
    disableCertificateVerification: true
  bootMACAddress: "{{ boot_mac_address | lower }}"
  online: true
